/* FONTS */
@import url("https://use.typekit.net/ejk7myc.css");
/* END */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --yellow: #f2b400;
  --brown: #502721;
  --white: #fffdf5;
  --text-shadow: #f2b4004d;

  --primary-font: proxima-nova, sans-serif;
  --secondary-font: proxima-sera, sans-serif;

  font-size: 10px;

  /* BACKGROUND OVERLAY */
  --cursorX: 50vw;
  --cursorY: 50vh;
  /* END */
}

/* BACKGROUND OVERLAY */
:root:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  pointer-events: none;
  background: radial-gradient(
    circle 4vmax at var(--cursorX) var(--cursorY),
    rgba(255, 253, 245, 0) 0%,
    rgba(255, 253, 245, 0.25) 25%,
    rgba(255, 253, 245, 0.5) 50%,
    rgba(255, 253, 245, 0.75) 75%,
    rgba(255, 253, 245, 0.95) 100%
  );
}
/* END */

::selection {
  color: var(--white);
  background: var(--yellow);
}

/* For Mozilla Firefox */
::-moz-selection {
  color: var(--white);
  background: var(--yellow);
}

html,
body {
  overflow-x: hidden;
  background-image: url(/resources/images/background.png);
}

.disclamer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: none;
}

.disclamer h1 {
  font-family: var(--primary-font);
  font-size: 2rem;
  text-align: center;
  color: var(--brown);
}

@media all and (max-width: 374px), (max-height: 635px) {
  .disclamer {
    display: block;
  }
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 1rem 0;
}

@media all and (max-width: 374px), (max-height: 635px) {
  .flex-container {
    display: none;
  }
}

header {
  height: 6rem;
  width: 100vw;
  z-index: 1;
  background-color: var(--white);
}

header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

header ul li {
  list-style: none;
}

header ul li a {
  text-decoration: none;
}

header ul li a img {
  width: 3rem;
}

header ul li a {
  font-size: 3.5rem;
  font-family: var(--primary-font);
  font-weight: 800;
  letter-spacing: 1rem;
  margin-left: 1rem;
  color: var(--yellow);
}

header ul li a span {
  font-weight: 400;
}

@media all and (max-width: 900px) {
  header ul li a {
    font-size: 2.25rem;
  }

  header ul li a .title {
    display: none;
  }
}

.nav {
  background-color: var(--white);
  border-right: 3px solid var(--yellow);
  position: absolute;
  margin-top: 6rem;
  height: calc(100vh - 6rem);
  width: 10rem;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 2;
  animation: navAnimation 0.5s forwards;
}

@keyframes navAnimation {
  0% {
    margin-left: -100px;
  }
  100% {
    margin-left: 0px;
  }
}

.nav ul li {
  font-size: 6rem;
  text-align: center;
  line-height: 10rem;
}

.nav ul li:nth-child(8) {
  margin-bottom: 5rem;
}

.nav ul li img {
  width: 3rem;
}

.nav ul li .dot {
  width: 1rem;
}

@media all and (min-width: 900px) {
  .button-open {
    display: none;
  }

  .button-close {
    display: block;
  }
}

@media all and (max-width: 900px) {
  .button-open {
    display: block;
  }

  .button-close {
    display: none;
  }

  .nav {
    width: 8rem;
    display: none;
  }
}

main {
  height: calc(100vh - 6rem);
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 1;
}

section {
  height: calc(100vh - 6rem);
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* SECTION 4 */
.section {
  display: flex;
  justify-content: flex-end;
  justify-content: center;
}

.section .slide {
  display: flex;
  flex-direction: row;
  width: calc(100% - 20rem);
}

.section .slide .item {
  flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: none;
}

.section .slide .item h1 {
  font-family: var(--primary-font);
  font-size: 2.2rem;
  text-align: center;
  color: var(--white);
  background-color: var(--yellow);
  height: 3.3rem;
}

.section .slide .item .wrapper {
  height: calc(100vh - 9.3rem);
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  z-index: 1;
}

.section .slide .item .wrapper a img {
  width: 4rem;
  position: sticky;
  top: 7%;
  left: 100%;
  transform: translate(-50%, -50%);
  background-color: var(--white);
  border-radius: 50%;
  z-index: 1;
}

/* SHREYA'S CODE START */
.content {
  display: flex;
  column-gap: 3rem;
  padding-top: 3.5rem;
  color: var(--brown);
}

.content .brand-left,
.content .grid-container {
  overflow-y: scroll;
}

.brand-left {
  padding-left: 3rem;
  width: 40%;
  height: 100vh;
}

.brand-left .brand-heading {
  text-decoration-line: underline;
  /* border-bottom: 1rem solid var(--yellow); */
  text-decoration-thickness: 1rem;
  text-decoration-color: var(--yellow);
}

.brand-heading {
  font-size: 6rem;
  font-style: italic;
  font-family: var(--secondary-font);
  /* white-space: nowrap; */
  /* overflow-x: hidden; */
}

.brand-about {
  font-size: 2.5rem;
  margin-top: 5rem;
  font-family: var(--primary-font);
}

.brand-about-content {
  font-size: 2.5rem;
  margin-top: 1rem;
  font-weight: 500;
  font-family: var(--primary-font);
}

.content .brand-icons ul {
  display: flex;
  margin-top: 5rem;
  width: 3.6rem;
  padding-left: 3rem;
  column-gap: 3rem;
  list-style: none;
  margin-top: 6rem;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 2rem;
  overflow-y: scroll;
  height: 100vh;
  width: 60%;
}

.grid-item {
  display: flex;
}

.grid-item img {
  max-width: 100%;
}

@media all and (max-width: 900px) {
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 5rem;
    padding-right: 5rem;
    overflow-y: scroll;
    /* height: 100%;  */
  }

  .brand-left {
    overflow-x: hidden;
    width: 100%;
    /* height: 100%; */
  }

  .brand-heading {
    font-size: 6vw;
  }

  .brand-icons {
    margin-top: 1rem;
  }

  .grid-container {
    width: 100%;
  }

  .content .grid-container {
    /* height: auto; */
    overflow-y: visible;
    height: 100%;
  }
}

/* .content .brand-left {
    
    overflow: hidden;
    height: 100%;
    
  } */

/* .content .grid-container{
    overflow: visible;
    max-height: 100%;
    height: auto;
  } */

/* SHREYA'S CODE END */

@media all and (max-width: 900px) {
  .section .slide {
    flex-direction: column;
    width: 100%;
  }

  .section .slide .item h1 {
    font-size: 2rem;
    border-bottom: 3px solid var(--white);
  }
}
/* END */
/* FONTS */
@import url("https://use.typekit.net/ejk7myc.css");
/* END */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --yellow: #f2b400;
  --brown: #502721;
  --white: #fffdf5;
  --text-shadow: #f2b4004d;

  --primary-font: proxima-nova, sans-serif;
  --secondary-font: proxima-sera, sans-serif;

  font-size: 10px;

  /* BACKGROUND OVERLAY */
  --cursorX: 50vw;
  --cursorY: 50vh;
  /* END */
}

/* BACKGROUND OVERLAY */
:root:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  pointer-events: none;
  background: radial-gradient(
    circle 4vmax at var(--cursorX) var(--cursorY),
    rgba(255, 253, 245, 0) 0%,
    rgba(255, 253, 245, 0.25) 25%,
    rgba(255, 253, 245, 0.5) 50%,
    rgba(255, 253, 245, 0.75) 75%,
    rgba(255, 253, 245, 0.95) 100%
  );
}
/* END */

::selection {
  color: var(--white);
  background: var(--yellow);
}

/* For Mozilla Firefox */
::-moz-selection {
  color: var(--white);
  background: var(--yellow);
}

html,
body {
  overflow-x: hidden;
  background-image: url(/resources/images/background.png);
}

.disclamer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: none;
}

.disclamer h1 {
  font-family: var(--primary-font);
  font-size: 2rem;
  text-align: center;
  color: var(--brown);
}

@media all and (max-width: 374px), (max-height: 635px) {
  .disclamer {
    display: block;
  }
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 1rem 0;
}

@media all and (max-width: 374px), (max-height: 635px) {
  .flex-container {
    display: none;
  }
}

header {
  height: 6rem;
  width: 100vw;
  z-index: 1;
  background-color: var(--white);
}

header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

header ul li {
  list-style: none;
}

header ul li a {
  text-decoration: none;
}

header ul li a img {
  width: 3rem;
}

header ul li a {
  font-size: 3.5rem;
  font-family: var(--primary-font);
  font-weight: 800;
  letter-spacing: 1rem;
  margin-left: 1rem;
  color: var(--yellow);
}

header ul li a span {
  font-weight: 400;
}

@media all and (max-width: 900px) {
  header ul li a {
    font-size: 2.25rem;
  }

  header ul li a .title {
    display: none;
  }
}

.nav {
  background-color: var(--white);
  border-right: 3px solid var(--yellow);
  position: absolute;
  margin-top: 6rem;
  height: calc(100vh - 6rem);
  width: 10rem;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 2;
  animation: navAnimation 0.5s forwards;
}

@keyframes navAnimation {
  0% {
    margin-left: -100px;
  }
  100% {
    margin-left: 0px;
  }
}

.nav ul li {
  font-size: 6rem;
  text-align: center;
  line-height: 10rem;
}

.nav ul li:nth-child(8) {
  margin-bottom: 5rem;
}

.nav ul li img {
  width: 3rem;
}

.nav ul li .dot {
  width: 1rem;
}

@media all and (min-width: 900px) {
  .button-open {
    display: none;
  }

  .button-close {
    display: block;
  }
}

@media all and (max-width: 900px) {
  .button-open {
    display: block;
  }

  .button-close {
    display: none;
  }

  .nav {
    width: 8rem;
    display: none;
  }
}

main {
  height: calc(100vh - 6rem);
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 1;
}

section {
  height: calc(100vh - 6rem);
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* SECTION 4 */
.section {
  display: flex;
  justify-content: flex-end;
  justify-content: center;
}

.section .slide {
  display: flex;
  flex-direction: row;
  width: calc(100% - 20rem);
}

.section .slide .item {
  flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: none;
}

.section .slide .item h1 {
  font-family: var(--primary-font);
  font-size: 2.2rem;
  text-align: center;
  color: var(--white);
  background-color: var(--yellow);
  height: 3.3rem;
}

.section .slide .item .wrapper {
  height: calc(100vh - 9.3rem);
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  z-index: 1;
}

.section .slide .item .wrapper a img {
  width: 4rem;
  position: sticky;
  top: 7%;
  left: 100%;
  transform: translate(-50%, -50%);
  background-color: var(--white);
  border-radius: 50%;
  z-index: 1;
}

/* SHREYA'S CODE START */
.content {
  display: flex;
  column-gap: 3rem;
  padding-top: 3.5rem;
  color: var(--brown);
}

.content .brand-left,
.content .grid-container {
  overflow-y: scroll;
}

.brand-left {
  padding-left: 3rem;
  width: 40%;
  height: 100vh;
}

.brand-left .brand-heading {
  text-decoration-line: underline;
  /* border-bottom: 1rem solid var(--yellow); */
  text-decoration-thickness: 1rem;
  text-decoration-color: var(--yellow);
}

.brand-heading {
  font-size: 6rem;
  font-style: italic;
  font-family: var(--secondary-font);
  /* white-space: nowrap; */
  /* overflow-x: hidden; */
}

.brand-about {
  font-size: 2.5rem;
  margin-top: 5rem;
  font-family: var(--primary-font);
}

.brand-about-content {
  font-size: 2.5rem;
  margin-top: 1rem;
  font-weight: 500;
  font-family: var(--primary-font);
}

.content .brand-icons ul {
  display: flex;
  margin-top: 5rem;
  width: 3.6rem;
  padding-left: 3rem;
  column-gap: 3rem;
  list-style: none;
  margin-top: 6rem;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 2rem;
  overflow-y: scroll;
  height: 100vh;
  width: 60%;
}

.grid-item {
  display: flex;
}

.grid-item img {
  max-width: 100%;
}

@media all and (max-width: 900px) {
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 5rem;
    padding-right: 5rem;
    overflow-y: scroll;
    /* height: 100%;  */
  }

  .brand-left {
    overflow-x: hidden;
    width: 100%;
    /* height: 100%; */
  }

  .brand-heading {
    font-size: 6vw;
  }

  .brand-icons {
    margin-top: 1rem;
  }

  .grid-container {
    width: 100%;
  }

  .content .grid-container {
    /* height: auto; */
    overflow-y: visible;
    height: 100%;
  }
}

/* .content .brand-left {
    
    overflow: hidden;
    height: 100%;
    
  } */

/* .content .grid-container{
    overflow: visible;
    max-height: 100%;
    height: auto;
  } */

/* SHREYA'S CODE END */

@media all and (max-width: 900px) {
  .section .slide {
    flex-direction: column;
    width: 100%;
  }

  .section .slide .item h1 {
    font-size: 2rem;
    border-bottom: 3px solid var(--white);
  }
}
/* END */
/* FONTS */
@import url("https://use.typekit.net/ejk7myc.css");
/* END */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --yellow: #f2b400;
  --brown: #502721;
  --white: #fffdf5;
  --text-shadow: #f2b4004d;

  --primary-font: proxima-nova, sans-serif;
  --secondary-font: proxima-sera, sans-serif;

  font-size: 10px;

  /* BACKGROUND OVERLAY */
  --cursorX: 50vw;
  --cursorY: 50vh;
  /* END */
}

/* BACKGROUND OVERLAY */
:root:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  pointer-events: none;
  background: radial-gradient(
    circle 4vmax at var(--cursorX) var(--cursorY),
    rgba(255, 253, 245, 0) 0%,
    rgba(255, 253, 245, 0.25) 25%,
    rgba(255, 253, 245, 0.5) 50%,
    rgba(255, 253, 245, 0.75) 75%,
    rgba(255, 253, 245, 0.95) 100%
  );
}
/* END */

::selection {
  color: var(--white);
  background: var(--yellow);
}

/* For Mozilla Firefox */
::-moz-selection {
  color: var(--white);
  background: var(--yellow);
}

html,
body {
  overflow-x: hidden;
  background-image: url(/resources/images/background.png);
}

.disclamer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: none;
}

.disclamer h1 {
  font-family: var(--primary-font);
  font-size: 2rem;
  text-align: center;
  color: var(--brown);
}

@media all and (max-width: 374px), (max-height: 635px) {
  .disclamer {
    display: block;
  }
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 1rem 0;
}

@media all and (max-width: 374px), (max-height: 635px) {
  .flex-container {
    display: none;
  }
}

header {
  height: 6rem;
  width: 100vw;
  z-index: 1;
  background-color: var(--white);
}

header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

header ul li {
  list-style: none;
}

header ul li a {
  text-decoration: none;
}

header ul li a img {
  width: 3rem;
}

header ul li a {
  font-size: 3.5rem;
  font-family: var(--primary-font);
  font-weight: 800;
  letter-spacing: 1rem;
  margin-left: 1rem;
  color: var(--yellow);
}

header ul li a span {
  font-weight: 400;
}

@media all and (max-width: 900px) {
  header ul li a {
    font-size: 2.25rem;
  }

  header ul li a .title {
    display: none;
  }
}

.nav {
  background-color: var(--white);
  border-right: 3px solid var(--yellow);
  position: absolute;
  margin-top: 6rem;
  height: calc(100vh - 6rem);
  width: 10rem;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 2;
  animation: navAnimation 0.5s forwards;
}

@keyframes navAnimation {
  0% {
    margin-left: -100px;
  }
  100% {
    margin-left: 0px;
  }
}

.nav ul li {
  font-size: 6rem;
  text-align: center;
  line-height: 10rem;
}

.nav ul li:nth-child(8) {
  margin-bottom: 5rem;
}

.nav ul li img {
  width: 3rem;
}

.nav ul li .dot {
  width: 1rem;
}

@media all and (min-width: 900px) {
  .button-open {
    display: none;
  }

  .button-close {
    display: block;
  }
}

@media all and (max-width: 900px) {
  .button-open {
    display: block;
  }

  .button-close {
    display: none;
  }

  .nav {
    width: 8rem;
    display: none;
  }
}

main {
  height: calc(100vh - 6rem);
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 1;
}

section {
  height: calc(100vh - 6rem);
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* SECTION 4 */
.section {
  display: flex;
  justify-content: flex-end;
  justify-content: center;
}

.section .slide {
  display: flex;
  flex-direction: row;
  width: calc(100% - 20rem);
}

.section .slide .item {
  flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: none;
}

.section .slide .item h1 {
  font-family: var(--primary-font);
  font-size: 2.2rem;
  text-align: center;
  color: var(--white);
  background-color: var(--yellow);
  height: 3.3rem;
}

.section .slide .item .wrapper {
  height: calc(100vh - 9.3rem);
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  z-index: 1;
}

.section .slide .item .wrapper a img {
  width: 4rem;
  position: sticky;
  top: 7%;
  left: 100%;
  transform: translate(-50%, -50%);
  background-color: var(--white);
  border-radius: 50%;
  z-index: 1;
}

/* SHREYA'S CODE START */
.content {
  display: flex;
  column-gap: 3rem;
  padding-top: 3.5rem;
  color: var(--brown);
}

.content .brand-left,
.content .grid-container {
  overflow-y: scroll;
}

.brand-left {
  padding-left: 3rem;
  width: 40%;
  height: 100vh;
}

.brand-left .brand-heading {
  text-decoration-line: underline;
  /* border-bottom: 1rem solid var(--yellow); */
  text-decoration-thickness: 1rem;
  text-decoration-color: var(--yellow);
}

.brand-heading {
  font-size: 6rem;
  font-style: italic;
  font-family: var(--secondary-font);
  /* white-space: nowrap; */
  /* overflow-x: hidden; */
}

.brand-about {
  font-size: 2.5rem;
  margin-top: 5rem;
  font-family: var(--primary-font);
}

.brand-about-content {
  font-size: 2.5rem;
  margin-top: 1rem;
  font-weight: 500;
  font-family: var(--primary-font);
}

.content .brand-icons ul {
  display: flex;
  margin-top: 5rem;
  width: 3.6rem;
  padding-left: 3rem;
  column-gap: 3rem;
  list-style: none;
  margin-top: 6rem;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 2rem;
  overflow-y: scroll;
  height: 100vh;
  width: 60%;
}

.grid-item {
  display: flex;
}

.grid-item img {
  max-width: 100%;
}

@media all and (max-width: 900px) {
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 5rem;
    padding-right: 5rem;
    overflow-y: scroll;
    /* height: 100%;  */
  }

  .brand-left {
    overflow-x: hidden;
    width: 100%;
    /* height: 100%; */
  }

  .brand-heading {
    font-size: 6vw;
  }

  .brand-icons {
    margin-top: 1rem;
  }

  .grid-container {
    width: 100%;
  }

  .content .grid-container {
    /* height: auto; */
    overflow-y: visible;
    height: 100%;
  }
}

/* .content .brand-left {
    
    overflow: hidden;
    height: 100%;
    
  } */

/* .content .grid-container{
    overflow: visible;
    max-height: 100%;
    height: auto;
  } */

/* SHREYA'S CODE END */

@media all and (max-width: 900px) {
  .section .slide {
    flex-direction: column;
    width: 100%;
  }

  .section .slide .item h1 {
    font-size: 2rem;
    border-bottom: 3px solid var(--white);
  }
}
/* END */
/* FONTS */
@import url("https://use.typekit.net/ejk7myc.css");
/* END */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --yellow: #f2b400;
  --brown: #502721;
  --white: #fffdf5;
  --text-shadow: #f2b4004d;

  --primary-font: proxima-nova, sans-serif;
  --secondary-font: proxima-sera, sans-serif;

  font-size: 10px;

  /* BACKGROUND OVERLAY */
  --cursorX: 50vw;
  --cursorY: 50vh;
  /* END */
}

/* BACKGROUND OVERLAY */
:root:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  pointer-events: none;
  background: radial-gradient(
    circle 4vmax at var(--cursorX) var(--cursorY),
    rgba(255, 253, 245, 0) 0%,
    rgba(255, 253, 245, 0.25) 25%,
    rgba(255, 253, 245, 0.5) 50%,
    rgba(255, 253, 245, 0.75) 75%,
    rgba(255, 253, 245, 0.95) 100%
  );
}
/* END */

::selection {
  color: var(--white);
  background: var(--yellow);
}

/* For Mozilla Firefox */
::-moz-selection {
  color: var(--white);
  background: var(--yellow);
}

html,
body {
  overflow-x: hidden;
  background-image: url(/resources/images/background.png);
}

.disclamer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: none;
}

.disclamer h1 {
  font-family: var(--primary-font);
  font-size: 2rem;
  text-align: center;
  color: var(--brown);
}

@media all and (max-width: 374px), (max-height: 635px) {
  .disclamer {
    display: block;
  }
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 1rem 0;
}

@media all and (max-width: 374px), (max-height: 635px) {
  .flex-container {
    display: none;
  }
}

header {
  height: 6rem;
  width: 100vw;
  z-index: 1;
  background-color: var(--white);
}

header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

header ul li {
  list-style: none;
}

header ul li a {
  text-decoration: none;
}

header ul li a img {
  width: 3rem;
}

header ul li a {
  font-size: 3.5rem;
  font-family: var(--primary-font);
  font-weight: 800;
  letter-spacing: 1rem;
  margin-left: 1rem;
  color: var(--yellow);
}

header ul li a span {
  font-weight: 400;
}

@media all and (max-width: 900px) {
  header ul li a {
    font-size: 2.25rem;
  }

  header ul li a .title {
    display: none;
  }
}

.nav {
  background-color: var(--white);
  border-right: 3px solid var(--yellow);
  position: absolute;
  margin-top: 6rem;
  height: calc(100vh - 6rem);
  width: 10rem;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 2;
  animation: navAnimation 0.5s forwards;
}

@keyframes navAnimation {
  0% {
    margin-left: -100px;
  }
  100% {
    margin-left: 0px;
  }
}

.nav ul li {
  font-size: 6rem;
  text-align: center;
  line-height: 10rem;
}

.nav ul li:nth-child(8) {
  margin-bottom: 5rem;
}

.nav ul li img {
  width: 3rem;
}

.nav ul li .dot {
  width: 1rem;
}

@media all and (min-width: 900px) {
  .button-open {
    display: none;
  }

  .button-close {
    display: block;
  }
}

@media all and (max-width: 900px) {
  .button-open {
    display: block;
  }

  .button-close {
    display: none;
  }

  .nav {
    width: 8rem;
    display: none;
  }
}

main {
  height: calc(100vh - 6rem);
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 1;
}

section {
  height: calc(100vh - 6rem);
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* SECTION 4 */
.section {
  display: flex;
  justify-content: flex-end;
  justify-content: center;
}

.section .slide {
  display: flex;
  flex-direction: row;
  width: calc(100% - 20rem);
}

.section .slide .item {
  flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: none;
}

.section .slide .item h1 {
  font-family: var(--primary-font);
  font-size: 2.2rem;
  text-align: center;
  color: var(--white);
  background-color: var(--yellow);
  height: 3.3rem;
}

.section .slide .item .wrapper {
  height: calc(100vh - 9.3rem);
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  z-index: 1;
}

.section .slide .item .wrapper a img {
  width: 4rem;
  position: sticky;
  top: 7%;
  left: 100%;
  transform: translate(-50%, -50%);
  background-color: var(--white);
  border-radius: 50%;
  z-index: 1;
}

/* SHREYA'S CODE START */
.content {
  display: flex;
  column-gap: 3rem;
  padding-top: 3.5rem;
  color: var(--brown);
}

.content .brand-left,
.content .grid-container {
  overflow-y: scroll;
}

.brand-left {
  padding-left: 3rem;
  width: 40%;
  height: 100vh;
}

.brand-left .brand-heading {
  text-decoration-line: underline;
  /* border-bottom: 1rem solid var(--yellow); */
  text-decoration-thickness: 1rem;
  text-decoration-color: var(--yellow);
}

.brand-heading {
  font-size: 6rem;
  font-style: italic;
  font-family: var(--secondary-font);
  /* white-space: nowrap; */
  /* overflow-x: hidden; */
}

.brand-about {
  font-size: 2.5rem;
  margin-top: 5rem;
  font-family: var(--primary-font);
}

.brand-about-content {
  font-size: 2.5rem;
  margin-top: 1rem;
  font-weight: 500;
  font-family: var(--primary-font);
}

.content .brand-icons ul {
  display: flex;
  margin-top: 5rem;
  width: 3.6rem;
  padding-left: 3rem;
  column-gap: 3rem;
  list-style: none;
  margin-top: 6rem;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 2rem;
  overflow-y: scroll;
  height: 100vh;
  width: 60%;
}

.grid-item {
  display: flex;
}

.grid-item img {
  max-width: 100%;
}

@media all and (max-width: 900px) {
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 5rem;
    padding-right: 5rem;
    overflow-y: scroll;
    /* height: 100%;  */
  }

  .brand-left {
    overflow-x: hidden;
    width: 100%;
    /* height: 100%; */
  }

  .brand-heading {
    font-size: 6vw;
  }

  .brand-icons {
    margin-top: 1rem;
  }

  .grid-container {
    width: 100%;
  }

  .content .grid-container {
    /* height: auto; */
    overflow-y: visible;
    height: 100%;
  }
}

/* .content .brand-left {
    
    overflow: hidden;
    height: 100%;
    
  } */

/* .content .grid-container{
    overflow: visible;
    max-height: 100%;
    height: auto;
  } */

/* SHREYA'S CODE END */

@media all and (max-width: 900px) {
  .section .slide {
    flex-direction: column;
    width: 100%;
  }

  .section .slide .item h1 {
    font-size: 2rem;
    border-bottom: 3px solid var(--white);
  }
}
/* END */
