/* FONTS */
@import url("https://use.typekit.net/ejk7myc.css");
/* END */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* ::-webkit-scrollbar {
  display: none;
} */

:root {
  --yellow: #f2b400;
  --brown: #502721;
  --white: #fffdf5;
  --text-shadow: #f2b4004d;

  --primary-font: proxima-nova, sans-serif;
  --secondary-font: proxima-sera, sans-serif;

  font-size: 10px;

  /* BACKGROUND OVERLAY */
  --cursorX: 50vw;
  --cursorY: 50vh;
  /* END */
}

@media all and (max-width: 900px) {
  :root {
    font-size: 9px;
  }
}

/* BACKGROUND OVERLAY */
:root:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  pointer-events: none;
  background: radial-gradient(
    circle 4vmax at var(--cursorX) var(--cursorY),
    rgba(255, 253, 245, 0) 0%,
    rgba(255, 253, 245, 0.25) 25%,
    rgba(255, 253, 245, 0.5) 50%,
    rgba(255, 253, 245, 0.75) 75%,
    rgba(255, 253, 245, 0.95) 100%
  );
}
/* END */

::selection {
  color: var(--white);
  background: var(--yellow);
}

/* For Mozilla Firefox */
::-moz-selection {
  color: var(--white);
  background: var(--yellow);
}

html,
body {
  overflow-x: hidden;
  /* background-image: url(/resources/images/background.png); */
}

.disclamer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: none;
}

.disclamer h1 {
  font-family: var(--primary-font);
  font-size: 2rem;
  text-align: center;
  color: var(--brown);
}

/* @media all and (max-width: 374px), (max-height: 635px) {
  .disclamer {
    display: block;
  }
} */

.flex-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 1rem 0;
}

/* @media all and (max-width: 374px), (max-height: 635px) {
  .flex-container {
    display: none;
  }
} */

header {
  height: 6rem;
  width: 100vw;
  z-index: 1;
  background-color: var(--white);
}

header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

header ul li {
  list-style: none;
}

header ul li a {
  text-decoration: none;
}

header ul li a img {
  width: 3rem;
}

header ul li a {
  font-size: 3.5rem;
  font-family: var(--primary-font);
  font-weight: 800;
  letter-spacing: 1rem;
  margin-left: 1rem;
  color: var(--yellow);
}

header ul li a span {
  font-weight: 400;
}

@media all and (max-width: 900px) {
  header ul li a {
    font-size: 2.25rem;
  }

  header ul li a .title {
    display: none;
  }
}

.nav {
  background-color: var(--white);
  border-right: 3px solid var(--yellow);
  position: absolute;
  margin-top: 6rem;
  height: calc(100vh - 6rem);
  width: 7rem;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 1;
  animation: navAnimation 0.5s forwards;
  display: none;
}

.nav::-webkit-scrollbar {
  display: none;
}

@keyframes navAnimation {
  0% {
    margin-left: -100px;
  }
  100% {
    margin-left: 0px;
  }
}

.nav ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
}

.nav ul li {
  text-align: center;
  line-height: 7rem;
}

.nav ul li img {
  width: 2.2rem;
  transition: 0.1s ease-in-out;
}

.nav ul li img:active {
  transform: scale(0.85);
}

.nav ul li .dot {
  width: 0.8rem;
}

@media all and (min-width: 900px) {
  .button-open {
    display: none;
  }

  .button-close {
    display: block;
  }
}

@media all and (max-width: 900px) {
  .button-open {
    display: block;
  }

  .button-close {
    display: none;
  }

  .nav {
    width: 8rem;
    display: none;
  }
}

main {
  height: calc(100vh - 6rem);
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 1;
}

main::-webkit-scrollbar {
  display: none;
}

section {
  height: calc(100vh - 6rem);
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* SECTION 4 */
.section {
  display: flex;
  justify-content: flex-end;
  justify-content: center;
}

.section::-webkit-scrollbar {
  display: none;
}

.section .slide {
  display: flex;
  flex-direction: row;
  width: calc(100% - 20rem);
}

.section .slide .item {
  flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: none;
}

.section .slide .item h1 {
  font-family: var(--primary-font);
  font-size: 2.2rem;
  text-align: center;
  color: var(--white);
  background-color: var(--yellow);
  height: 3.3rem;
}

.section .slide .item .wrapper {
  height: calc(100vh - 9.3rem);
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: hidden;
  /* overflow-y: scroll; */
  scroll-snap-type: y mandatory;
  z-index: 1;
}

@media all and (max-width: 900px) {
  .section .slide .item .wrapper {
    height: calc(100vh - 9.3rem);
    flex-grow: 1;
    overflow-x: hidden;
    /* overflow-y: hidden; */
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    z-index: 1;
  }
}

.section .slide .item .wrapper::-webkit-scrollbar {
  display: none;
}

.section .slide .item .wrapper a img {
  width: 4rem;
  position: sticky;
  top: 7%;
  left: 100%;
  transform: translate(-50%, -50%);
  background-color: var(--white);
  border-radius: 50%;
  z-index: 1;
}

/* SHREYA'S CODE START */
.content {
  display: flex;
  justify-content: space-between;
  column-gap: 3rem;
  padding-top: 3.5rem;
  color: var(--brown);
  padding-right: 3rem;
  text-align: justify;
}

.content .brand-left,
.content .grid-container {
  overflow-y: hidden;
  width: 40%;
}

@media all and (max-width: 900px) {
  .content .brand-left,
  .content .grid-container {
    overflow-y: hidden;
    width: 100%;
  }
}

.brand-left {
  padding-left: 3rem;
  width: 40%;
  height: 100vh;
  /* background-color: red; */
}

.brand-left::-webkit-scrollbar {
  display: none;
}

.brand-left section::-webkit-scrollbar {
  display: none;
}

.brand-left .brand-heading {
  text-decoration-line: underline;
  /* border-bottom: 1rem solid var(--yellow); */
  text-decoration-thickness: 0.5rem;
  text-decoration-color: var(--yellow);
}

.brand-heading {
  font-size: 4rem;
  font-style: italic;
  font-family: var(--secondary-font);
  /* white-space: nowrap; */
  /* overflow-x: hidden; */
}

.brand-about {
  font-size: 2rem;
  margin-top: 3rem;
  font-family: var(--primary-font);
}

.brand-about-content {
  font-size: 2rem;
  margin-top: 1rem;
  font-weight: 400;
  font-family: var(--primary-font);
}

.content .brand-icons ul {
  display: flex;
  margin-top: 5rem;
  width: 3.6rem;
  padding-left: 3rem;
  column-gap: 3rem;
  list-style: none;
  margin-top: 6rem;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 2rem;
  overflow-y: scroll;
  height: 100vh;
  width: 60%;
}

.grid-item {
  display: flex;
}

.grid-item img {
  max-width: 100%;
}

@media all and (max-width: 900px) {
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-left: 5rem;
    padding-right: 5rem; */
    /* overflow-y: hidden; */
    /* height: 100%;  */
  }

  .brand-left {
    overflow-x: hidden;
    width: 100%;
  }

  .brand-heading {
    font-size: 6vw;
    font-size: 3.5rem;
  }

  .brand-icons {
    margin-top: 1rem;
  }

  .grid-container {
    width: 100%;
    margin-top: 5rem;
  }

  .content .grid-container {
    /* height: auto; */
    overflow-y: visible;
    height: 100%;
  }
}

/* .content .brand-left {
    
    overflow: hidden;
    height: 100%;
    
  } */

/* .content .grid-container{
    overflow: visible;
    max-height: 100%;
    height: auto;
  } */

/* SHREYA'S CODE END */

@media all and (max-width: 900px) {
  .section .slide {
    flex-direction: column;
    width: 100%;
  }

  .section .slide .item h1 {
    font-size: 2rem;
    border-bottom: 3px solid var(--white);
  }
}
/* END */

/*  */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 10rem;
  top: 5rem;
  height: calc(100% - 10rem);
  width: calc(100% - 20rem);
  overflow: auto;
  /* background-color: rgba(0, 0, 0, 0.9); */
  background-color: var(--white);
}

@media all and (max-width: 900px) {
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0rem;
    top: 5rem;
    height: calc(100% - 5rem);
    width: 100%;
    overflow: auto;
    background-color: var(--white);
  }
}

.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.modal-img {
  width: auto;
  height: auto;
  /* max-width: 100%;
  max-height: 100%; */
  max-width: 60%;
  max-height: 60%;
}

.close {
  color: var(--yellow);
  position: absolute;
  top: 15px;
  right: 35px;
  font-size: 40px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--brown);
  text-decoration: none;
  cursor: pointer;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: var(--yellow);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  color: var(--brown);
}

/*  */
.container {
  max-width: 40%;
  margin: 2rem auto;
  max-height: 75rem;
  overflow-y: scroll;
}

@media all and (max-width: 900px) {
  .container {
    max-width: 100%;
    margin-top: -15rem;
    margin-right: -1.5rem;
    overflow-y: visible;
  }
}

.container .image-container {
  /* columns: 2 25rem; */
  columns: 2;
  gap: 1.5rem;
}

.container .image-container img {
  margin-bottom: 1rem;
  /* border-radius: 0.5rem; */
  width: 100%;
}

.brand-icons h2 {
  font-size: 2rem;
  font-family: var(--primary-font);
}

.button-close {
  display: none;
}
